
<div class="container-fluid">
<style>
  iframe[seamless]{
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
  }
</style>

  <div class="row">

    <div class="col-lg-12">

      <div class="col-lg-3">

        <h3>&nbsp;</h3>

        <div class="panel panel-primary">

          <div class="panel-heading">
            <strong>Mailbox</strong>
          </div>

          <div class="panel-body">
            <a href="#" class="btn btn-primary btn-xs" onclick="javascript:window.open('/messages/new','ventanita','width=800,height=690, left=350, top=150' );return false">
              REDACTAR
            </a>

            <div class="clear">&nbsp;</div>

            <ul class="nav nav-pills nav-stacked">
              <% if $server == 'imap.gmail.com'  %>
                  <li class="<%= session[:folder] == "INBOX" ? "active" : "" %>"><%= link_to 'Recibidos', "#{messages_path}?folder=INBOX" %></li>
                  <li class="<%= session[:folder] == "[Gmail]/Destacados" ? "active" : "" %>"><%= link_to 'Destacados', "#{messages_path}?folder=[Gmail]/Destacados" %></li>
                  <li class="<%= session[:folder] == "[Gmail]/Enviados" ? "active" : "" %>"><%= link_to 'Enviados', "#{messages_path}?folder=[Gmail]/Enviados" %></li>
                  <li class="<%= session[:folder] == "[Gmail]/Importantes" ? "active" : "" %>"><%= link_to 'Importantes', "#{messages_path}?folder=[Gmail]/Importantes" %></li>
                  <li class="<%= session[:folder] == "[Gmail]/Borradores" ? "active" : "" %>"><%= link_to 'Borradores', "#{messages_path}?folder=[Gmail]/Borradores" %></li>
                  <li class="<%= session[:folder] == "[Gmail]/Papelera" ? "active" : "" %>"><%= link_to 'Papelera', "#{messages_path}?folder=[Gmail]/Papelera" %></li>
                  <li class="<%= session[:folder] == "[Gmail]/Spam" ? "active" : "" %>"><%= link_to 'Spam', "#{messages_path}?folder=[Gmail]/Spam" %></li>
              <% elsif $server == 'imap-mail.outlook.com' %>
                  <li class="<%= session[:folder] == "INBOX" ? "active" : "" %>"><%= link_to 'Recibidos', "#{messages_path}?folder=INBOX" %></li>
                  <li class="<%= session[:folder] == "SENT" ? "active" : "" %>"><%= link_to 'Enviados', "#{messages_path}?folder=SENT" %></li>
                  <li class="<%= session[:folder] == "TRASH" ? "active" : "" %>"><%= link_to 'Papelera', "#{messages_path}?folder=TRASH" %></li>
                  <li class="<%= session[:folder] == "JUNK" ? "active" : "" %>"><%= link_to 'Correo no deseado', "#{messages_path}?folder=JUNK" %></li>
              <% else %>
                  <li class="<%= session[:folder] == "INBOX" ? "active" : "" %>"><%= link_to 'Recibidos', "#{messages_path}?folder=INBOX" %></li>
                  <li class="<%= session[:folder] == "SENT" ? "active" : "" %>"><%= link_to 'Enviados', "#{messages_path}?folder=Sent" %></li>
                  <li class="<%= session[:folder] == "Trash" ? "active" : "" %>"><%= link_to 'Papelera', "#{messages_path}?folder=Trash" %></li>
              <% end  %>
              <li><%= link_to 'Cerrar Sesión', settings_emails_path %></li>
            </ul>


          </div>

        </div>

      </div>

      <div class="col-lg-9">

        <div class="col-lg-6" style="margin-top: 1.2%; padding-left: 0;">

          <div class="col-lg-12" style="padding-left: 0">
            <form action="/messages" method="get">

              <div class="col-lg-6" style="padding-left: 0">
                <input type="text" name="buscar" class="form-control" placeholder="Buscar" value="<%= $buscar_texto %>" required title="Escribe lo que deseas buscar">
              </div>
              <b class="col-lg-1">en</b>
              <div class="col-lg-3">
                <select name="por" id="" class="form-control">
                  <option value="SUBJECT" <%= $buscar_por == "SUBJECT" ? "selected" : "" %>>ASUNTO</option>
                  <option value="TO" <%= $buscar_por == "TO" ? "selected" : "" %>>PARA</option>
                  <option value="FROM" <%= $buscar_por == "FROM" ? "selected" : "" %>>DE</option>
                  <option value="CC" <%= $buscar_por == "CC" ? "selected" : "" %>>CC</option>
                  <option value="BCC" <%= $buscar_por == "BCC" ? "selected" : "" %>>CCO</option>
                  <option value="BODY" <%= $buscar_por == "BODY" ? "selected" : "" %>>MENSAJE</option>
                </select>
              </div>

              <button class="btn btn-primary">
                <span class="glyphicon glyphicon-search"></span>
              </button>

            </form>
          </div>

        </div>

        <div class="col-lg-6" style="margin-top: 2%">
          <div class="col-lg-12">

            <div class="col-lg-6 pull-right">

              <div class="col-lg-6">
                <label class="col-lg-5">Filas:</label>

                <form action="/messages" method="get" class="col-lg-7" onchange="this.submit()">
                  <select name="rows" id="">
                    <option value="5" <%= (session[:rows] == 5) ? "selected": ""%>>5</option>
                    <option value="10" <%= (session[:rows] == 10) ? "selected": ""%>>10</option>
                    <option value="15" <%= (session[:rows] == 15) ? "selected": ""%>>15</option>
                    <option value="20" <%= (session[:rows] == 20) ? "selected": ""%>>20</option>
                  </select>
                </form>
              </div>

              <div class="col-lg-6">
                <a href="/messages?a=<%=$anterior%>" class="btn btn-primary btn-xs">
                  <i class="glyphicon glyphicon-chevron-left icon-white" style="color: #fff;"></i>
                </a>
                <a href="/messages?s=<%=$siguiente%>" class="btn btn-primary btn-xs">
                  <i class="glyphicon glyphicon-chevron-right icon-white" style="color: #fff;"></i>
                </a>

              </div>

            </div>


          </div>
        </div>

        <table class="table table-hover" id="tableList">

          <tr class="alert" style="background-color: #337ab7; color: #fff">
            <th></th>
            <th>De</th>
            <th>Asunto</th>
            <th></th>
          </tr>
          <% begin %>
              <% @messages.each do |message| %>
                  <tr>
                    <td><input type="checkbox"></td>
                    <td>
                      <a href="javascript:void(0)" onclick="iframe_src('/messages/view_html/<%= message[:count_id] %>')" style="text-decoration: none; background: none; color: #333"><%= message[:from] %></a>
                    </td>
                    <td>
                      <a href="javascript:void(0)" onclick="iframe_src('/messages/view_html/<%= message[:count_id] %>')" style="text-decoration: none; background: none; color: #333"><%= message[:subject] %></a>
                    </td>
                    <td>
                      <a href="javascript:void(0)" onclick="iframe_src('/messages/view_html/<%= message[:count_id] %>')" style="text-decoration: none; background: none; color: #333"><%= message[:date] %></a>
                    </td>
                  </tr>
              <% end %>

          <% rescue %>
            <h1>nada jajaja :)</h1>
          <% end %>


        </table>

        <div class="col-lg-12" id="actions" style="display: none">
          <a href="javascript:void(0)" onclick="view_inbox()" class="btn btn-default" data-toggle="tooltip" title="Volver"><i class="glyphicon glyphicon-arrow-left"></i></a>
        </div>

        <iframe id="iframe" onload="autoResize(this)" seamless="seamless" class="col-lg-12" src=""></iframe>

      </div>

    </div>

  </div>

</div>
<script>

  function autoResize(i)
  {
    var iframeHeight = (i).contentWindow.document.body.scrollHeight;
    (i).height = iframeHeight + 20;
  }

  function iframe_src(src)
  {
    document.getElementById('tableList').style.display = 'none';
    document.getElementById('actions').style.display = 'block';
    document.getElementById('iframe').setAttribute('src',src);
  }

  function view_inbox()
  {
    document.getElementById('tableList').style.display = '';
    document.getElementById('actions').style.display = 'none';
    document.getElementById('iframe').removeAttribute('src');
  }

</script>