

<div class="container-fluid">

  <div class="col-md-12" style="background-color: #ced8e1">

    <h4>Lo mejor de Gmail estés donde estés</h4>
    <hr style="margin-top: 0px; border-top: 1px solid #235589">

    <strong><%= @from %></strong>
    <br>
    <div style="max-width: 90%; float: left">
      <small>Para <%= @to[0..50] %></small>
    </div>
    <div style="margin-left: 5px; max-width: 1%; float: left">

      <div class="dropdown">
        <button class="btn btn-default btn-xs" type="button" data-toggle="dropdown" aria-haspopup="true">
          <span class="caret"></span>
        </button>
        <div class="dropdown-menu"
             style="word-wrap: break-word;
             width: 500px;
             padding: 20px;
             height: 300px;
             overflow: auto">
          <table>
            <tr>
              <td valign="top">De:</td>
              <th><%= @from %></th>
            </tr>
            <tr>
              <td valign="top">Para:</td>
              <td><%= @to %></td>
            </tr>
            <tr>
              <td valign="top">Fecha:</td>
              <td><%= @date %></td>
            </tr>
            <tr>
              <td valign="top">Asunto:</td>
              <td><%= @subject %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>

  <%= @text %>
  <div class="clear">&nbsp;</div>
  <%= @html %>

</div>